$accentColor: #9908A6;
$headerFont: Gadner Bold, bold;
$textFont: Futura ND;

@mixin landingPageHeader{
    color: #000000;
    font-family: $headerFont;
    font-size: 100px;
}

@mixin landingPageText{
    color: #000000;
    font-family: $textFont;
    font-size: 25px;
}

@mixin linkBlockSettings ($left: 10vw){
    padding-bottom: 65px;
    display: flex;
    align-items: center;
    position: relative;

    img{
        width: 80vw;
        height: 40vh;
        object-fit: cover;
    }

    h1{
        position: absolute;
        left: $left;
        font-family: $headerFont;
        font-size: 70px;
        color: #ffffff;
    }
}

*{
    margin: 0; 
}

.landingContent{
    height: 100vh;
    display: flex;
    align-items: center;
    margin-left: 10vw;

    h1{
        @include landingPageHeader;
    }

    span{
        color: $accentColor;
    }
}

.aboutPage{
    height: 75vh;
    margin-left: 10vw;
    width: 70vw;

    h1{
        @include landingPageHeader;
    }

    span{
        color: $accentColor;
    }

    p{
        @include landingPageText;
    }
}

.aboutMe{
    height: 75vh;
    margin-left: 10vw;
    width: 70vw;

    h1{
        @include landingPageHeader;
    }

    span{
        color: $accentColor;
    }

    p{
        @include landingPageText;
    }
}

.linkBlocks{
    display: flex;
    flex-direction: column;
    height: 70vh;
    align-items: center;
    justify-content: center;
}

.blockStylesLeft{
    @include linkBlockSettings();
}

.blockStylesRight{
    @include linkBlockSettings($left: 52vw);
}