$accentColor: #9908A6;
$headerFont: Gadner Bold, bold;
$textFont: Futura ND;

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img{
    display: block;
}

@mixin landingPageHeader{
    color: #000000;
    font-family: $headerFont;
    font-size: 100px;
}

@mixin landingPageText{
    color: #000000;
    font-family: $textFont;
    font-size: 25px;
}

@mixin linkBlockSettings{
    h1{
        font-family: $headerFont;

    }
}

.landingContent{
    min-height: 100vh;

    display: flex;
    flex-direction: row;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;

    h1{
        align-self: center;
        @include landingPageHeader;
    }

    span{
        color: $accentColor;
    }
}

.scrollBox{
    align-self: flex-end;
    margin-bottom: 7em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    p{
        text-align: center;
        font-family: $headerFont;
        font-size: 16px;
        transform: rotate(-45deg);
        width: 6em;
    }

    img{
        width: 30px;
    }

}

.aboutPage{
    min-height: 70vh;
    width: 85%;
    margin: 0 auto;

    h1{
        @include landingPageHeader;
    }

    span{
        color: $accentColor;
    }

    p{
        max-width: 70%;
        @include landingPageText;
    }
}

.aboutMe{
    width: 85%;
    margin: 0 auto;

    h1{
        @include landingPageHeader;
    }

    span{
        color: $accentColor;
    }

    p{
        max-width: 70%;
        @include landingPageText;
    }
}

.linkBlocks{   
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-top: 200px;
    justify-content: space-evenly;

    img{
        width: 300px;
        height: 400px;
        border-radius: 20px
    }

}

.killMe{
    position: relative;
    text-align: center;

    h1{
        position: absolute;
        top: 50%;
        left: 50%;
    }

}

.blockStyles{
    @include linkBlockSettings();

}